# Python/virtualenv
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env

# Airflow logs, DAGs, plugins (user-generated content)
logs/
plugins/

# Terraform
terraform/.terraform/
terraform/terraform.tfstate*
terraform/.terraform.lock.hcl

# VS Code
.vscode/

# System files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Agent/IDE
.agents/

# Ignore backup and temp files
*~
*.swp
*.swo

# google_credentials.json (contains sensitive information)
config/google_credentials.json

# data (if you have any local data files that should not be committed)
data/*

ph_pulse_dbt/target/
ph_pulse_dbt/dbt_packages/
ph_pulse_dbt/logs/

*.tfstate